
@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex text-center row justify-content-around">
    <div class="col-12"><strong>What Interest you?</strong></div>
    <div class="col-6 pl-4 pr-4">Fiction Books</div>
    <div class="col-6 pl-4 pr-4">Non-Fiction Books</div>
    <div class="d-flex col-6 row p-4">
        <input class="m-1" style="border-radius:15px; width:45%" type="button" name="name" value="Drama" />
        <input class="m-1" style="border-radius:15px; width:45%" type="button" name="name" value="Drama" />
        <input class="m-1" style="border-radius:15px; width:45%" type="button" name="name" value="Drama" />
        <input class="m-1" style="border-radius:15px; width:45%" type="button" name="name" value="Drama" />
    </div>
    <div class="d-flex col-6 row p-4">
        <input class="m-1" style="border-radius:15px; width:45%" type="button" name="name" value="Drama" />
        <input class="m-1" style="border-radius:15px; width:45%" type="button" name="name" value="Drama" />
        <input class="m-1" style="border-radius:15px; width:45%" type="button" name="name" value="Drama" />
        <input class="m-1" style="border-radius:15px; width:45%" type="button" name="name" value="Drama" />
    </div>
</div>

<div class="d-flex text-center row">
    @for (int i = 0; i < 50; i++)
    {
        <div class="card col-lg-3 col-sm-6 col-md-4">
            <div class="card-body">
                <div class="d-flex justify-content-center align-items-center">
                    <img asp-append-version="true" src="/images/book1.jpg" alt="book1" style="min-width:98%" />
                </div>
            </div>
            <div class="card-footer">
                <div>
                    <strong>The Lost Apothecary-</strong>
                </div>
                <div>
                    <strong>Fiction</strong>
                </div>
                <div>
                    <small>Sarah Penner</small>
                </div>
            </div>
        </div>
    }
</div>

