
<div class="btn-group offset-3">
    <button type="button" class="btn btn-outline-dark btn-sm mr-4 small" style="border-radius:50px;"><small><strong>New Release</strong></small></button>
    <button type="button" class="btn btn-outline-dark btn-sm mr-4 small" style="border-radius:50px;"><small><strong>Most Popular</strong></small></button>
    <div class="btn-group">
        <button type="button" class="btn btn-outline-dark btn-sm mr-4 dropdown-toggle" data-toggle="dropdown" style="border-radius:50px;"><small><strong>Browse Genre</strong></small></button>
        <div class="dropdown-menu">
            <a class="dropdown-item small" href="#" onMouseOver="this.style.backgroundColor='#404040', this.style.color='white'" onMouseOut="this.style.backgroundColor='#FFFFFF', this.style.color='black'">Fiction</a>
            <a class="dropdown-item small" href="#" onMouseOver="this.style.backgroundColor='#404040', this.style.color='white'" onMouseOut="this.style.backgroundColor='#FFFFFF', this.style.color='black'">Comedy</a>
            <a class="dropdown-item small" href="#" onMouseOver="this.style.backgroundColor='#404040', this.style.color='white'" onMouseOut="this.style.backgroundColor='#FFFFFF', this.style.color='black'">Emotional</a>
        </div>
    </div>
    <button type="button" class="btn btn-outline-dark btn-sm" style="border-radius:50px;"><small><strong>Advance Search</strong></small></button>
</div>

<div class="row">
    <p>Showing 1 result for <strong>Winning in the Digital Age</strong></p>
</div>

<div class="row">
    <div class="col-3 p-0 m-0">
        <img src="~/images/book1.jpg" width="100%" alt="" />

    </div>

    <div class="col-8 ml-3 pl-0">
        <h6>Winning Digital Age</h6>
        <p class="mb-0 small"><small>Available copies:</small> <strong>15</strong> &nbsp;&nbsp;<small>Copies in library</small> <strong>20</strong> &nbsp;&nbsp;<small>Copies taken out</small> <strong>5</strong></p>
        <p class="mb-0 small"><small>Genre:</small> &nbsp;<strong>Business & Economics</strong></p>
        <p class="mb-0 small"><small>Author:</small> &nbsp;<strong>Golden Ezekiel</strong></p>
        <p class="mb-0 small"><small>Language:</small> &nbsp;<strong>English</strong></p>
        <p class="mb-0 small"><small>Publisher:</small> &nbsp;<strong>GoldPen</strong></p>
        <p class="mb-0 small"><small>Published Date:</small> &nbsp;<strong>31 Febuary 2022</strong></p>
        <p class="mb-0 small"><small>Added to Library:</small> &nbsp;<strong>31 Febuary 2022</strong></p>
        <p class="mb-0 small"><small>ISBN:</small> &nbsp;<strong>1234567890</strong></p>
        <p class="mb-0 small"><small>Pages:</small> &nbsp;<strong>500</strong></p>
        <pre class="small"><small>Description:</small>&nbsp;A book for understanding how to make moneyA book for understanding how to make money
           A book for understanding how to make moneyA book for understanding how to make money
           <a href="#"><strong>Read More</strong></a></pre>
        <div style="margin-left:10%;" class="small">
            <p class="small">
                e-Version &nbsp; Yes &nbsp;&nbsp; <a href="#" class="border border-danger p-1 pr-3 pl-3 mr-3 bg-primary text-white" style="border-radius:15px;text-decoration:none;"><small>Read More</small></a>
                <a href="#" class="border border-danger p-1 pr-3 pl-3 bg-light text-dark" style="border-radius:15px;text-decoration:none"><small>Download</small></a>
            </p>
            <p class="small">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <strong>3</strong>
            </p>

            <h6 class="small"><strong>Reviews</strong></h6>
            <h6 class="small mb-0"><strong>Good to Read</strong></h6>
            <p class="small">A nice book to read. Please get your copy</p>

            <h6 class="small mb-0"><strong>Good to Read</strong></h6>
            <p class="small">A nice book to read. Please get your copy</p>

            <h6 class="small mb-0"><strong>Good to Read</strong></h6>
            <p class="small">A nice book to read. Please get your copy</p>
        </div>

        <div class="d-flex small" style="margin-left:15%;">
            <div class="mr-2 small"><a href="#" class="text-dark">About Us</a></div>
            <div class="mr-5 small"><a href="#" class="text-dark">Contact Us</a></div>
            <div><a href="#"><i class="fab fa-facebook mr-3"></i></a></div>
            <div><a href="#"><i class="fab fa-twitter mr-3"></i></a></div>
            <div><a href="#"><i class="fab fa-instagram mr-3"></i></a></div>
        </div>
    </div>
</div>
